/*

# Top level files
!.gitignore
!README.md
!fish/config.fish

# Top level directories
!fastfetch
!gtk-3.0/
!gtk-4.0/
!hypr/
!kitty/
!xdg-desktop-portal/
!fuzzel/
!waybar/

# Explicitly re-excluded files (has to include each parent directories)
!/hypr/
!/hypr/hypr-g/
!/hypr/hypr-g/hyprlock/
/hypr/hypr-g/hyprlock/wallpaper.png