* {
    font-size: 10px;
}

#waybar {
    background: transparent;
    color: white;
    font-family: "CaskaydiaCove Nerd Font";
}

#workspaces, 
#window, 
#mpris, 
tooltip {
    background: rgba(27, 24, 24, 0.9);
    border-radius: 14px;
    margin: 0 4px;
    padding: 0 10px;
    border: 1px solid rgba(89, 89, 89, 0.667);
    transition: border 539ms cubic-bezier(0.23,1,0.32,1);
}

/*TODO: Fix the outline focus disapearing on workspaces section when workspace button is hovered */
#workspaces:hover,
#workspaces:focus,
#workspaces:focus-within,
#workspaces:focus-visible,
#window:hover, 
#mpris:hover, 
tooltip:hover {
    border: 1px solid rgba(51, 204, 255, 0.933);
}

#workspaces {
    padding: 0;
    margin-left: 0;
}

#workspaces button {
    padding: 0 4px;
    margin: 2px;
    min-width: 6px;
    min-height: 6px;
}
#workspaces button:hover {
    background: rgba(89, 89, 89, 0.667);
    border-radius: 50%;
}